<div class="body_area">
    <div class="body_box">
        <div class="join_area">
            <div class="join_title" style="padding-top:200px;">
                <span class="join_title_text" style="font-size: 50px; font-family: 'Poor Story', cursive; font-weight: 700;">회 원&nbsp;&nbsp;&nbsp; 로 그 인</span>
            </div>
            <form method="POST" action="/users/login">
                <div class="join_input_area" style="padding-top: 20px;">
                    <input type="text" class="join_input_box" name="id" placeholder="아이디" style="margin-bottom: 20px;">
                    <input type="text" class="join_input_box" name="passwd" placeholder="비밀번호">
                    <button class="join_button" style="font-size: 30px; font-family: 'Poor Story', cursive; font-weight: 700;">로그인</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>