<link href="https://fonts.googleapis.com/css2?family=Bellota&family=Poor+Story&family=Single+Day&display=swap"
    rel="stylesheet">
<div class="board_main_right" style="border: 1px solid black; padding: 20px; width: 950px; border-radius: 3px;">
    <form action="/users/mypage/info" method="POST"> 
        <div style="width: 100%; height: 50px; border-bottom: 1px solid #efefef; text-align: left;">
        <span style="font-size: 30px; font-family: 'Poor Story', cursive; font-weight: 700; margin-left: 10px;">개인정보 변경</span>
    </div>
        <div style="width: 100%; height: 60px; border-bottom: 1px solid #efefef; text-align: left; display: flex; flex-direction: row; justify-content: center; align-items: center;">
            <div style="width: 15%; height: 100%; display: flex; flex-direction: row; justify-content: center; align-items: center;text-align: right;">닉네임</div>
            <div style="width: 85%; height: 100%; padding: 10px;">
                <input type="text" class="join_input_box" name="name" style="margin-top: 10px; border: 0px solid transparent;" placeholder="<%=sess.user.name%>"></div>
        </div>
        <div style="width: 100%; height: 60px; border-bottom: 1px solid #efefef; text-align: left; display: flex; flex-direction: row; justify-content: center; align-items: center;">
            <div style="width: 15%; height: 100%; display: flex; flex-direction: row; justify-content: center; align-items: center;text-align: right;">이메일</div>
            <div style="width: 85%; height: 100%; padding: 10px;">
                <input type="text" class="join_input_box" name="email" style="margin-top: 10px; border: 0px solid transparent;" placeholder="<%=sess.user.email%>">
            </div>
        </div>
        <div style="width: 100%; height: 60px; border-bottom: 1px solid #efefef; text-align: left; display: flex; flex-direction: row; justify-content: center; align-items: center;">
            <div style="width: 15%; height: 100%; display: flex; flex-direction: row; justify-content: center; align-items: center;text-align: right;">현재 비밀번호</div>
            <div style="width: 85%; height: 100%; padding: 10px;">
                <input type="text" class="join_input_box" name="passwd" style="margin-top: 10px; border: 0px solid transparent;" placeholder="비밀번호를 입력하세요">
            </div>
        </div>
        <div style="width: 100%; height: 60px; border-bottom: 1px solid #efefef; text-align: left; display: flex; flex-direction: row; justify-content: center; align-items: center;">
            <div style="width: 15%; height: 100%; display: flex; flex-direction: row; justify-content: center; align-items: center;text-align: right;"></div>
            <div style="width: 85%; height: 100%; display: flex; flex-direction: row-reverse; justify-content: right; align-items: center;text-align: right;">
                <button class="join_button" style="margin-top: 0px; width: 150px;height: 40px; border-radius: 5px;font-size: 20px; font-family: 'Poor Story', cursive; font-weight: 700;">수정하기</button>
            </div>
        </div>
    </form>
</div>